@if (showLogin) {
<p>Login Card</p>
}

@if (!showLogin) {
  <mat-toolbar color="secondary">
  <button mat-button type="button" (click)="drawer.toggle()" color="primary"><fa-icon [icon]="faBars" class="side-panel-icon" color="primary"></fa-icon></button>
    <span>{{pageTitle}}</span><span class="fill-remaining-space">&nbsp;</span><span>{{panelTitle}}</span><span class="fill-remaining-space">&nbsp;</span>
  <button mat-button type="button" color="primary"><fa-icon [icon]="faUser" class="side-panel-icon" color="primary"></fa-icon></button>
</mat-toolbar>

<mat-drawer-container class="side-nav-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <section class="section-spacer"></section>
    <section>
      <div class="side-nav-button-row">
        <button mat-button class="side-nav-button" (click)="navigateToHome()">Home</button>
      </div>
      @if (isAdministrator) {
        <div class="side-nav-button-row">
            <button mat-button class="side-nav-button" (click)="navigateToAdministrors()">Administrators</button>
        </div>
      }
      <div class="side-nav-button-row">
        <button mat-button class="side-nav-button" (click)="navigateToAPIKeys()">API Keys</button>
      </div>
      @if (isAdministrator) {
         <div class="side-nav-button-row">
            <button mat-button class="side-nav-button" (click)="navigateToConfigurations()">Configurations</button>
        </div>
        <div class="side-nav-button-row">
          <button mat-button class="side-nav-button" (click)="navigateToLogs()">Logs</button>
        </div>
        <div class="side-nav-button-row">
          <button mat-button class="side-nav-button" (click)="navigateToUsers()">Users</button>
        </div>
      }
      <div class="side-nav-button-row">
        <button mat-button class="side-nav-button" (click)="navigateToAbout()">About</button>
      </div>
    </section>
    <!--@if (showFiller) {
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }-->
    <!--<button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>-->
  </mat-drawer>

  <div class="example-sidenav-content">

    <router-outlet />
    <!--<button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>-->
  </div>

</mat-drawer-container>

}
